@model kimyatesti.Models.ForgotPassword2
@{
    ViewBag.Title = "Şifremi yeniliyorum";
    Layout = "~/Views/Shared/_AccLayout.cshtml";
}

<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form">

            <div class="form-control er">
                <h2 class="formHeading">Yeni şifre</h2>
                <p>Yeni şifrenizi girebilirsiniz.</p>
                <p>@ViewBag.testData</p>
            </div>
            <div class="form-control er">
                <span>
                    @Html.TextBoxFor(i => i.Password, new { @placeholder = "Yeni şifre", type = "password", autocomplete = "off" })
                    <i class="fa fa-lock"></i>
                </span>
                <small></small>
            </div>

            @Html.ValidationSummary()

            <button id="btnSubmit" type="submit">Yeni şifremi kaydet</button>
            <div class="loginLinks">
                <a href="/Account/Login">Eski şifremi hatırladım galiba !</a>
            </div>
        </div>
    }
</div>
