@model kimyatesti.Models.ForgotPassword
@{
    ViewBag.Title = "Şifremi unuttum";
    Layout = "~/Views/Shared/_AccLayout.cshtml";
}


<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form">

            <div class="form-control er">
                <h2 class="formHeading">Yeni şifre</h2>
                <p>E-posta adresinizi yazıp aşağıdaki butona tıklayın. Gelen e-postadaki linki kullanarak yeni bir şifre belirleyin.</p>
            </div>
            <div class="form-control er">
                <span>
                    @Html.TextBoxFor(i => i.Username, new { @placeholder = "E-posta adresiniz", type = "email", autocomplete = "off" })
                    <i class="fa fa-envelope"></i>
                </span>
                <small></small>
            </div>

            @Html.ValidationSummary()

            <button id="btnSubmit" type="submit">Şifremi sıfırla</button>
            <div class="loginLinks">
                <a href="/Account/Login">Şifremi hatırladım galiba !</a>
            </div>
        </div>
    }
</div>
