
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerifyMail</title>
</head>
<body>
    <div> 
         @ViewBag.testData
    </div>
</body>
</html>
