@model kimyatesti.Models.Register
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Assets/Img/favicon-kt.ico" rel="icon" type="image/x-icon" />
    <title>kimyatesti.com</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/RegisterStyle.css" rel="stylesheet" />
</head>

<body>
    @RenderBody()
</body>

</html>