<nav class="navbar bg-dark navbar-expand-sm navbar-dark fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img class="logo" src="~/Assets/Img/kimyaTestiLogoHalkasizBeyaz.png" alt="">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;kimyatesti.com</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/admin" class="nav-link active">
                        Admin
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/dashboard/index" class="nav-link">
                        Sayfam
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        İletişim
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Account/Logout" class="nav-link active">Çıkış yap</a>
                </li>

            </ul>
        </div>
    </div>
</nav>